*{
    margin:0 ;
    padding: 0;
    background-color: #f8e9a8;
}
a{
    text-decoration-line: none;
}
.menu{
    margin:10px 10px;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
}
.menu a{
    color: #0a0a0a;
}
.menu a:hover{
    color: #666464;
    font-weight: bold;
}
.titulo h1,h2{
    text-align: center;
    font-size: 40px;
    color :#fca21c;
}
.titulo h1{
    margin-top: -400px;
}
.titulo video{
    width: 100%;
}
.formulario{
    margin-top: 400px;
    padding: 30px;
    margin-bottom: 50px;
}

form label{
    font-size: 20px;
    color: #0c0c0b;
}
